.clients {
	height: 820px;
	overflow: hidden;
	padding: 30px 0;

	@media screen and (min-width: $breakpoint-md) {
		height: 100%;
		overflow: initial;
	}
	
	&__container {
		height: 100%;
		overflow-y: auto;

		@media screen and (min-width: $breakpoint-xxl) {
			padding: 0 30px;
			margin: 0 auto;
			max-width: 1660px;
		}
	}
	
	&__title {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $main-color;
		text-align: center;
		padding-bottom: 30px;
	}

	&__lists {
		display: flex;
		flex-flow: column;
		overflow: hidden;
		@media screen and (min-width: $breakpoint-md) {
			flex-flow: row wrap;
		}
		@media screen and (min-width: $breakpoint-xxl) {
			border-radius: $radius-md;
		}
	}

	&__lists-item {
		height: 120px;
		
		@media screen and (min-width: $breakpoint-md) {
         flex: 1 1 33%;
      }
      @media screen and (min-width: $breakpoint-lg) {
         flex: 1 1 25%;
      }

		&:nth-child(1) {
			background: #1C4280;
		}

		&:nth-child(2) {
			background: #143646;
		}
		&:nth-child(3) {
			background: #F48B30;
		}
		&:nth-child(4) {
			background:  #9E4DC3;
		}
		&:nth-child(5) {
			background: #FD9339;
		}
		&:nth-child(6) {
			background: #E2E2E4;
		}
		&:nth-child(7) {
			background: #C71C36;
		}
		&:nth-child(8) {
			background: #DCF3F9;
		}
		&:nth-child(9) {
			background: #EAEAEA;
		}
		&:nth-child(10) {
			background: #282240;
		}
		&:nth-child(11) {
			background: #1D4568;
		}
	
		&:nth-child(12) {
			background: #000;
		}
	}

	&__lists-link {
		height: 100%;
		@include flex-center;
		cursor: pointer;
	}
}

