html {
   height: 100%;
}

body {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
   height: 100%;
}

.wrapper {
   background: $gradient-supersoft;
   border-radius: 0px 0px 12px 12px;
   position: relative;
   &::before, &::after  {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 20px;
      right: 20px;
      height: 10px;
      background: #CACADB;
      border-radius: 0px 0px $radius-md $radius-md;
   } 
   &::after {
      bottom: -20px;
      left: 40px;
      right: 40px;
      background: #E7E7F2;
   }
}

.wrapper__basic {
   display: flex;
   flex-flow: column;
   min-height: 100%;
}

.container {
   padding: 0 30px;

   @media screen and (min-width: $breakpoint-md) {
      max-width: 708px;
      margin: 0 auto;
   }

   @media screen and (min-width: $breakpoint-lg) {
      max-width: 964px;
   }

   @media screen and (min-width: $breakpoint-xl) {
      max-width: 1380px;
   }

   @media screen and (min-width: $breakpoint-xxl) {
      max-width: 1660px;
   }
}

main {
   flex: 1;
   padding-top: 15px;

   @media screen and (min-width: $breakpoint-md) {
      padding-top: 30px;
   }
}

.hidden {
   width: 0;
   height: 0;
   position: absolute;
   z-index: -1;
}

.nav__link {
   display: inline-block;
   padding-right: 10px;
   @include uppercase-text (14px, $regular-color);
   margin-bottom: 10px;
   cursor: pointer;
   text-decoration: none;
   position: relative;
   &::before {
      content:'';
      position: absolute;
      top: 2px;
      right: 0;
      width: 8px;
      height: 8px;
      border-top: 2px solid $regular-color;
      border-right:2px solid $regular-color;
      transform: rotate(45deg);
      transition: .3s ease;
   }

   &:hover {
      color: $accent-color;
      &::before {
         border-color: $accent-color;
      }
   }
}

.general__point {
   display: none;
   @media screen and (min-width: $breakpoint-md) {
      display: block;
      width: 6px;
      height: 6px;
      background: $text-color;
      border-radius: $radius-rounded;
   }
}

.icon {
   width: 92px;
   height: 92px;
   padding: 14px;
   background: $basic-white;
   border-radius: $radius-lg;
}

.btn {
   padding: 18px 30px;
   cursor: pointer;
   background: $regular-color;
   color: $basic-white;
   font-family: 'Montserrat';
   font-size: 16px;
   font-weight: 700;
   border-radius: $radius-md;
   border-style: none;
   box-shadow: 0px 0px 20px 0px rgba($regular-color, 0.50);
   transition: .3s ease;

   &:hover {
      background: $hover-color;
   }

   &:active {
      background: $active-color;
   }
}
