.team {
   padding: 50px 0 30px;

   &__swiper {
      margin: auto;
      position: relative;
      overflow: hidden;
      z-index: 0;
   }

   &__slide {
      border-radius: $radius-md;
      overflow: hidden;
      background: $bg-color;
      
      @media screen and (min-width: $breakpoint-lg) {
         display: flex;      
      }

   }

   &__inner {
      padding: 30px;
      @media screen and (min-width: $breakpoint-lg) {
         display: flex;
         flex-flow: column; 
         justify-content: center; 
         align-items: flex-start;    
      }
   }

   &__image {
      height: 500px;
      position:relative;
      @media screen and (min-width: $breakpoint-lg) {
         height: auto; 
         flex: 1 0 400px;   
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__inner-title {
      @include subtitle(transparent);
      @include main-gradient-text($gradient-red-text);
      margin-bottom: 15px;
   }

   &__inner-name {
      padding-top: 15px;
      color: $text-color;
      font-weight: 700;
      @include text-link ($text-color);

      p+p {
         margin-top: 6px;
         font-size: 14px;
         font-weight: 400;
      }
   }

   &__swiper-pagination {
      margin: 30px 0 0;
      text-align: center;
      .swiper-pagination-bullet {
         width: 14px;
         height: 14px;
         background: $regular-color;
      }
   }
}

.teampage {
   padding: 0 0 60px 0;

   &__title {
      margin: 0 0 30px 0;

      @media screen and (min-width: $breakpoint-md) {
         margin: 0 0 60px 0;
      }
      @media screen and (min-width: $breakpoint-lg) {
         margin: 0 140px 60px;
      }
   }

   &__cards {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 30px;

      @media screen and (min-width: $breakpoint-md) {
         flex-flow: row wrap;
         gap: 60px;
      }
   }

   &__card {
      @media screen and (min-width: $breakpoint-md) {
         flex: 1 1 40%;
      }
      
      @media screen and (min-width: $breakpoint-lg) {
         flex: 1 1 28%;
      }  
   }

   &__card-image {
      height: 300px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 15px;

      @media screen and (min-width: $breakpoint-md) {
         height: 400px;
      }

      img {
         height: 100%;
         width: 100%;
         border-radius: $radius-md;
         object-fit: cover;
      }
   }

   &__name {
      display: flex;
      justify-content: space-between;
   }

   &__name-inner {
      color: $main-color;
      font-weight: 700;
      transition: .3s ease;
      text-decoration: none;

      p+p {
         margin-top: 2px;
         font-size: 12px;
         font-weight: 400;
         color: $text-color;
         line-height: 22px;
      }

      &:hover {
         color: $accent-color;
      }
   }

   &__name-arrow {
      width: 32px;
      height: 32px;
      background: $bg-color;
      border-radius: $radius-rounded;
      position: relative;
      transition: .3s ease;

      &::before {
         content: '';
         position: absolute;
         top: 10px;
         left: 8px;
         width: 12px;
         height:12px;
         border-bottom: 2px solid $regular-color;
         border-left: 2px solid $regular-color;
         transform: rotate(-135deg);
      }

      &:hover::before {
         border-color: $accent-color;
      }
   }

}

